.Ticket {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
  border: solid 1px #00000038;
  border-radius: 7px;
  background-color: rgb(207, 255, 184);
}

.ticketContent {
  width: 100%;
  text-align: left; 
}
.ticketContent > input {
  width: 90%;
}

.strike {
  text-decoration: line-through;
}

.ticketControlButtons {
  display: flex;
}
.ticketControlButtons > button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.scheduledCheckbox {
  accent-color: yellow;
}

.doneCheckbox {
  accent-color: green;
}